name: cd

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest
      
      - name: Build production binary
        run: ./scripts/buildprod.sh

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Use gcloud CLI
        run: gcloud info

      - name: Build docker image and push to registry
        run: gcloud builds submit --tag asia-southeast1-docker.pkg.dev/notely-481808/notely-ar-repo/notely:latest .

      - name: Run database migrations
        run: ./scripts/migrateup.sh

      - name: Deploy to Cloud Run
        run: gcloud run deploy notely --image asia-southeast1-docker.pkg.dev/notely-481808/notely-ar-repo/notely:latest --region asia-southeast1 --allow-unauthenticated --project notely-481808 --max-instances=4
